<p>
  <strong>Name:</strong>
  <%= @contacts.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @contacts.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @contacts.name %>
</p>

<%= link_to 'Back', new_contact_path %>